<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../../static/style.css" />

    <title>ES WebApp</title>
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <header class="clock">
      <h1 id="clock-numere"></h1>
    </header>

    <section class="water">
      <div class="water__card">
        <div class="water__data">
          <p class="water__text">Water Level</p>
          <h1 class="water__percentage">20%</h1>

          <p class="water__status">
            <span id="level-number">{{WLP}}</span>
            <i class="ri-contrast-drop-2-line"></i>
          </p>
        </div>

        <div class="water__pill">
          <div class="water__level">
            <div class="water__liquid"></div>
          </div>
        </div>
      </div>
    </section>

    <script>
      var time = new Date();
      document.querySelector("#clock-numere").innerHTML = time.toLocaleTimeString([], {hour: '2-digit', minute: '2-digit'});

      const waterLevelLiquid = document.querySelector(".water__liquid"),
      waterLevelStatus = document.querySelector(".water__status"),
      waterLevelPercentage = document.querySelector(".water__percentage");

      const waterLevelNumber = document.getElementById("level-number").children[0];

      let text = {{ WLP }};
      function getLevel() {
        $("#level-number").text(text);

        let level = Math.floor(parseInt(text));
        waterLevelPercentage.innerHTML = level + "%";

        waterLevelLiquid.style.height = `${level}%`;

        if (level >= 100) {
          waterLevelStatus.innerHTML = `Full of Water <i class="ri-water-flash-fill animated-green"></i>`;
          waterLevelLiquid.style.height = "103%";
        } else if (level <= 20) {
          waterLevelStatus.innerHTML = `Low Water Level <i class="ri-contrast-drop-2-line animated-red"></i>`;
        } else {
          waterLevelStatus.innerHTML = "";
        }

        if (level <= 20) {
          waterLevelLiquid.classList.add("gradient-color-red");
          waterLevelLiquid.classList.remove(
            "gradient-color-orange",
            "gradient-color-yellow",
            "gradient-color-green"
          );
        } else if (level <= 40) {
          waterLevelLiquid.classList.add("gradient-color-orange");
          waterLevelLiquid.classList.remove(
            "gradient-color-red",
            "gradient-color-yellow",
            "gradient-color-green"
          );
        } else if (level <= 80) {
          waterLevelLiquid.classList.add("gradient-color-yellow");
          waterLevelLiquid.classList.remove(
            "gradient-color-red",
            "gradient-color-orange",
            "gradient-color-green"
          );
        } else {
          waterLevelLiquid.classList.add("gradient-color-green");
          waterLevelLiquid.classList.remove(
            "gradient-color-red",
            "gradient-color-orange",
            "gradient-color-yellow"
          );
        }

        setTimeout(getLog, 5000);
        getLevel();
      }

      getLevel();
    </script>

    <script src="../../static/app.js"></script>
  </body>
</html>
